from hydro.topology_base import Topology


class {{ topology_name }}Topology(Topology):  # TODO: rename this class and the entire file
    def submit(self, params):
        """
        topology consists of several steps, defining one source stream or more, combining and transformations
        """
        sample_stream = self.query_engine.get('sample_query', params)
        # TODO: add some logic
        return sample_stream